/* @import url('BoutrosART Medium/BoutrosART Medium.otf'); */
@font-face {
    font-family: "BoutrosART";
    src: local("BoutrosART"),
      url("BoutrosART.otf") format("opentype");
  }
html,
body {
    font-family: "BoutrosART"
}
